psycopg2-binary
mlflow
xgboost
boto3
oandapyV20
backtrader
v20
pyfolio
minio
jupyterlab
plotly
ipywidgets
npm
alpaca-trade-api
xlrd
gspread
oauth2client
quandl
pyfolio
alphalens
twilio
slackclient
jupyterlab-dash
jupyter-dash
kiteconnect
dropbox
selenium
py5paisa
